// Import Bulma's core@import "node_modules/bulma/sass/utilities/initial-variables";
@import 'node_modules/bulma/sass/utilities/functions';

// Overwrite Bulma's initial variables
@import './variables.scss';

// $family-sans-serif: $aclu-sans-standard;

// $primary: $hb-color;
// $primary-invert: findColorInvert($primary);
// $secondary: $red;
// $secondary-invert: findColorInvert($secondary);
// $red-compliant: $red-AA-compliant;
// $red-compliant-invert: findColorInvert($primary);

// Import Bulma's derived variables
@import 'node_modules/bulma/sass/utilities/derived-variables.sass';
@import './fonts.scss';

$link: $hb-link-color;
$link-hover: rgba($link, 0.5);
$link-focus: rgba($link, 0.5);

// Import rest of Bulma
@import 'node_modules/bulma/bulma';

body {
  font-family: 'Spoqa Han Sans', sans-serif;
}

.container {
  max-width: 720px;
}
